@font-face {
    font-family: 'italiana';
    src: url(../../Fonts/Italiana-Regular.ttf);
}
*{
    margin: 0rem;
}
.cart{
    background-image: url('../../../Assests/Cakes/IMG_6506\ 2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__background-color{
        background-color: rgba($color: grey, $alpha: 0.6);

    }
    &__title{
        font-size: 3rem;
        font-family: italiana;
        font-weight: bold;
        display: flex;
        justify-content: center;
        border-bottom: 3px solid gray;
    }
    &__container{
        margin: 0rem 0rem;
    }
    &__subcontainer1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 20rem;
        align-items: center;
        border-bottom: 3px solid grey;
    }
    &__subcontainer2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0rem 0rem;
        width: 20rem;
    }
    &__subcontainer3{
        display: flex;
    }
    &__input{
        height: 2rem;
        width: 10rem;
        font-size: 1.5rem;
    }
    &__specs{
        font-family: italiana;
        font-size: 2rem;
        font-weight: 600;
        padding-bottom: 1rem;
    }
    &__specscontent{
        padding-left: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        padding-bottom: 2rem;
    }
    &__empty{
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 5rem 0rem;
    }
    &__image{
        width: 15rem;
        height: 15rem;
        border: 3px solid black;

    }
    &__button-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 2rem;
        padding-top: 2rem;

    }
    &__button{
        width: 25rem;
        height: 5rem;
        background-color: black;
        color: white;
        font-size: 1.5rem;
        cursor: pointer;
    }
    &__delete{
        height: 2rem;
        width: 8rem;
        font-size: 1.2rem;
        background-color: black;
        color: white;
        cursor:pointer;

    }
};
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    height: 2rem;
    width: 2rem;
}