
@font-face {
    font-family: 'italiana';
    src: url(../../Fonts/Italiana-Regular.ttf);
}
*{
    margin: 0rem;
}
.main{
    &__header{
        background-color: rgba($color: #EFE3CA, $alpha: 0.7);
        font-family: 'italiana';
        font-size: 3.5rem;
        font-weight: bold;
        padding: 5rem 0rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__container{
        // height: 60rem;
        
    }
    &__cakes{
        display: flex;
        flex-direction: column;
        height: fit-content;
        justify-content: center;
        align-items: center;
        border: 0.2rem solid grey;
        margin-top: 2rem;
        margin-bottom: 2rem;
        background: rgba(50, 50, 50, 0.3);
        border-radius: 1rem;

    }
    &__subcontainer1{
        margin: 5rem 0rem;
        
    }
    &__subcontainer2{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        flex-wrap: wrap;
        padding-top: 2rem;

    }
    &__subheader{
        font-size: 3rem;
        font-family: italiana;
        font-weight: 700;
        padding-top: 3rem;
    }
    &__images{
        border-radius: 2rem;
        height: 30rem;
        width: 30rem;
        padding-bottom: 1rem;
        cursor: pointer;
    }
    &__price{
        font-size: 2rem;
        font-weight: bold;
        font-family: italiana;
    }
    &__occasion{
        font-size: 2rem;
        font-weight: bold;
        font-family: italiana;
        display: flex;
        justify-content: center;
        padding: 1rem 0rem;
    }
}