@font-face {
    font-family: 'italiana';
    src: url(../../Fonts/Italiana-Regular.ttf);
}
*{
    margin: 0rem;
}
.footer{
    &__headers{
        font-family: 'italiana';
        width: max-content;
        font-weight: 700;
        font-size: 1.5rem;
    }
    &__container{        
        background-color: rgba($color: #EFE3CA, $alpha: 0.7);
        padding-left: 10rem;
        padding-right: 10rem;
        padding-top: 1rem;
    }
    &__subcontainer1{
        display: flex;
        flex-direction: row;
        padding-top: 1.5rem;
    }
    &__subcontainer2{
        flex-direction: row;
        margin-left: 2.5rem;
        padding-top: 0rem;
    }
    &__title{
     
        line-height: 1.8rem;
      
        font-size: 2.5rem;
        font-weight: 700;
      
    }
    &__icons{
        width: 1.5rem;
        height: 1.5rem;
        &--margin{
            margin-left: 1rem;
        }
    }
    &__subcontainer3{
        display: flex;
        
        flex-direction: row;
        justify-content: space-between;
        
    }
    &__subcontainer4{
        display: flex;
        flex-direction: column;
    }
    &__subcontainer5{
        display: flex;
        flex-direction: row;
    }
    &__content{
        width: max-content;
        padding-top: 2rem;
       
        &--bold{
            font-weight: 700;
        }
        &--text{
            padding-top: 0.5rem;
        }
    }
    &__content2{
        width: max-content;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    &__content3{
        width: max-content;
        padding-top: 2rem;
        padding-left: 1rem;
    }
    &__logo1{
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8rem;
        display: flex;
        align-self: flex-end;
        margin-left: auto;
      
    }
    &__logo2{
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.8rem;
        padding-top: 4rem;
        display: none;

    }
    &__copyright{
        font-size: 0.7rem;
        padding-top: 3rem;
        padding-bottom: 2rem;
       
    }
}